    body {
      background-repeat: no-repeat;
      background-color: #303030;
      font-family: sans-serif;
    }

    div {
      color: white ;
    }

    a:link {
      color: lightgray;
    }

    a:visited {
      color: lightblue;
    }

    a:hover {
      color: white;
    }

    .infotxt {
      float:right;
      text-align: center;
      width: 60%;
      margin: 5% auto 0;
    }

    #head {
      font-size:300%;
    }

    #urltag {
      color: #f05050;
      font-size:150%;
      text-shadow: 2px 2px 2px #000;
    }

    #reason {
      font-size:150%;
    }

    #footer {
      position : absolute;
      font-size: .6em;
      bottom : 0;
      height : 20px;
      margin-top : 40px;

    }

    #w3cs {
      position : absolute;
      font-size: .6em;
      bottom : 0;
      height : 60px;
      margin-top : 40px;
    }
    #pic {                
      position:absolute;  
      z-index: -1;      
    }           
