const CFG = {
  API: {
    HOST: "127.0.0.1",
    PORT: 3000,
    ROUTE: "/api"
  },
  GMAPS: {
    API_KEY: "XXXXX",
    BASE_ZOOM: 20,
    BASE_LAT: 39.18875480450959,
    BASE_LNG: -96.58109955489635
  }
};